{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Platform</title>
    <link rel="stylesheet" href="{% static 'SocialMedia/home.css' %}">
</head>
<body>
    <header>
        <h1>Chatting Platform</h1>
    </header>

    <main>
        <h2>Welcome to the Social Media Platform!</h2>
        <div class="buttons">
            <a href="{% url 'Users:login' %}" class="btn login">Login</a>
            <a href="{% url 'Users:signup' %}" class="btn signup">Sign Up</a>

        </div>
    </main>

    <footer>
        <p>&copy; 2025 Chatting Platform. All rights reserved.</p>
    </footer>
</body>
</html>
