{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'Users/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
</head>
<body>
    <header>
        <div class="welcome">
            Welcome, <span>{{ user_name }}</span>
        </div>
        <div class="notifications" >
            <a class="notifications" href="{% url 'Users:show_friend_requests' %}">📨 Friend Requests</a>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'Users:home' %}">Home</a></li>
            <li><a href="{% url 'Users:settings' %}">Settings</a></li>
        </ul>
    </nav>

    <main>
        <div class="dashboard">
            <h2>Dashboard</h2>
            <div class="buttons">
                <a href="{% url 'Users:search_users' %}" class="btn">🔍 Search Users</a>
                <a href="{% url 'Users:messages' %}" class="btn">💬 Your 1:1 Messages</a>
                <a href="{% url 'Users:show_groups' %}" class="btn">💬 Group Messages</a>
            </div>
        </div>
    </main>

    <footer>
        <p>Team: 404s</p>
    </footer>
</body>
</html>
