{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up: OTP Verification</title>
    <link rel="stylesheet" href="{% static 'Users/sign_up.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">

</head>
<body>
    <div class="container">
        <h2>Verify OTP , Maybe Check Your Email's Spam!</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="input" placeholder="OTP" type="password" name="otp" required>
	        <div class="simple-keyboard"></div>
            <button type="submit">Verify OTP</button>
        </form>
    </div>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
    <script src="{% static 'Users/otp.js' %}"></script>
</body>
</html>