{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Group</title>
    <link rel="stylesheet" href="{% static 'Users/view_group.css' %}">
</head>
<body>

    <div class="group-container">
        <div class="group-header">
            <img src="{{ group.group_profile_picture.url }}" alt="{{ group.name }} Profile Picture">
            <h2>{{ group.name }}</h2>
        </div>

        <div class="group-info">
            <p><strong>Description:</strong> {{ group.description }}</p>
            <p><strong>Created by:</strong> {{ group.admin.username }}</p>
            <p><strong>Created at:</strong> {{ group.created_at|date:"F d, Y" }}</p>
        </div>

        <h3>Group Members</h3>
        <div class="members-list">
            {% for member in group_members %}
            <div class="member-card">
                <img src="{{ member.user.profile_picture.url }}" alt="Profile Picture">
                <p>{{ member.user.username }}</p>
                {% if member.to_show %}
                    <form method="POST" action="{% url 'Users:search_users'%}">
                        {% csrf_token %}
                        <input type="hidden" name="to_user_id" value="{{ member.user.user_id }}">
                        <button type="submit">Send Friend Request</button>
                    </form>
                {% endif %}
    
            </div>
            {% endfor %}
        </div>
    </div>

    {% if messages %}
        <div id="toast">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

</body>
</html>
